.radio {
  align-items: center;
  display: inline-flex;
  user-select: none;
}

.radio__input {
  appearance: none;
  position: absolute;
}

.radio__text {
  margin-left: 8px;
}

.radio__circle {
  border: 1px solid var(--form-item-border-color);
  border-radius: 50%;
  height: 20px;
  left: 0;
  position: relative;
  top: 0;
  width: 20px;
  &::after {
    background: white;
    border-radius: 50%;
    content: "";
    height: 9px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform var(--duration-500) ease;
    width: 9px;
  }
}

/* Hovered */
.radio__input:hover + .radio__circle {
  border-color: var(--form-item-border-color-hover);
}

/* Focused */
.radio__input:focus + .radio__circle {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px hsla(213, 100%, 52%, 0.3);
}

/* Checked */
.radio__input:checked + .radio__circle {
  background-color: var(--primary);
  border-color: var(--primary);
}

.radio__input:checked + .radio__circle::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* Disabled */
.radio__input[disabled] + .radio__circle {
  background-color: var(--form-item-bg-color-disabled);
  border-color: var(--form-item-bg-color-disabled);
}

.radio__input[disabled] ~ .radio__text {
  color: var(--text-secondary);
}
