:root,
[data-theme="default"] {
  --gray-000: hsl(210, 25%, 97%);
  --gray-100: hsl(213, 33%, 95%);
  --gray-200: hsl(213, 25%, 86%);
  --gray-300: hsl(212, 17%, 73%);
  --gray-400: hsl(214, 18%, 63%);
  --gray-500: hsl(214, 15%, 56%);
  --gray-600: hsl(216, 15%, 39%);
  --gray-700: hsl(217, 16%, 26%);
  --gray-800: hsl(220, 17%, 17%);
  --gray-900: hsl(218, 15%, 14%);
  --blue-000: hsl(214, 100%, 95%);
  --blue-100: hsl(214, 100%, 89%);
  --blue-200: hsl(213, 81%, 77%);
  --blue-300: hsl(213, 100%, 72%);
  --blue-400: hsl(213, 96%, 61%);
  --blue-500: hsl(213, 100%, 52%);
  --blue-600: hsl(213, 91%, 43%);
  --blue-700: hsl(213, 90%, 35%);
  --blue-800: hsl(213, 87%, 25%);
  --blue-900: hsl(213, 84%, 17%);
  --green-000: hsl(154, 100%, 95%);
  --green-100: hsl(152, 100%, 90%);
  --green-200: hsl(153, 100%, 81%);
  --green-300: hsl(153, 100%, 71%);
  --green-400: hsl(153, 78%, 59%);
  --green-500: hsl(153, 72%, 49%);
  --green-600: hsl(153, 69%, 37%);
  --green-700: hsl(153, 69%, 24%);
  --green-800: hsl(153, 71%, 18%);
  --green-900: hsl(153, 70%, 13%);
  --red-000: hsl(9, 100%, 96%);
  --red-100: hsl(7, 100%, 88%);
  --red-200: hsl(7, 93%, 79%);
  --red-300: hsl(7, 94%, 72%);
  --red-400: hsl(7, 87%, 66%);
  --red-500: hsl(7, 76%, 58%);
  --red-600: hsl(6, 55%, 43%);
  --red-700: hsl(7, 54%, 31%);
  --red-800: hsl(7, 56%, 24%);
  --red-900: hsl(7, 58%, 17%);
  --yellow-000: hsl(37, 89%, 93%);
  --yellow-100: hsl(37, 100%, 85%);
  --yellow-200: hsl(37, 100%, 75%);
  --yellow-300: hsl(38, 90%, 66%);
  --yellow-400: hsl(38, 91%, 60%);
  --yellow-500: hsl(37, 91%, 55%);
  --yellow-600: hsl(37, 74%, 48%);
  --yellow-700: hsl(38, 72%, 42%);
  --yellow-800: hsl(38, 72%, 35%);
  --yellow-900: hsl(38, 71%, 27%);
  --purple-000: hsl(275, 100%, 95%);
  --purple-100: hsl(275, 100%, 91%);
  --purple-200: hsl(275, 76%, 85%);
  --purple-300: hsl(276, 74%, 79%);
  --purple-400: hsl(276, 76%, 74%);
  --purple-500: hsl(275, 74%, 70%);
  --purple-600: hsl(275, 45%, 55%);
  --purple-700: hsl(275, 46%, 43%);
  --purple-800: hsl(275, 55%, 33%);
  --purple-900: hsl(275, 60%, 25%);
  --black: hsl(216, 15%, 13%);
  --white: hsl(0, 0%, 100%);
  --black-fade-15: hsla(0, 0%, 0%, 0.15);
  --black-fade-30: hsla(0, 0%, 0%, 0.3);
  --black-fade-50: hsla(0, 0%, 0%, 0.5);
  --black-fade-70: hsla(0, 0%, 0%, 0.7);
  --black-fade-85: hsla(0, 0%, 0%, 0.85);
  --white-fade-15: hsla(0, 0%, 100%, 0.15);
  --white-fade-30: hsla(0, 0%, 100%, 0.3);
  --white-fade-50: hsla(0, 0%, 100%, 0.5);
  --white-fade-70: hsla(0, 0%, 100%, 0.7);
  --white-fade-85: hsla(0, 0%, 100%, 0.85);
}
