:root,
[data-theme="default"] {
  --gray-000: #f5f7f9;
  --gray-100: #edf1f6;
  --gray-200: #d2dae4;
  --gray-300: #aeb9c6;
  --gray-400: #909fb2;
  --gray-500: #7e8da0;
  --gray-600: #556173;
  --gray-700: #38404d;
  --gray-800: #252a34;
  --gray-900: #1e2229;
  --blue-000: #e3efff;
  --blue-100: #c8e0ff;
  --blue-200: #94bff4;
  --blue-300: #70b0ff;
  --blue-400: #3c91fb;
  --blue-500: #0b78ff;
  --blue-600: #0a63d1;
  --blue-700: #0951aa;
  --blue-800: #083975;
  --blue-900: #07274e;
  --green-000: #e8fff5;
  --green-100: #cbffe7;
  --green-200: #9effd3;
  --green-300: #6affbb;
  --green-400: #47e89f;
  --green-500: #23d584;
  --green-600: #1da165;
  --green-700: #136942;
  --green-800: #0d4d30;
  --green-900: #0a3924;
  --red-000: #ffedea;
  --red-100: #ffc9c2;
  --red-200: #fba398;
  --red-300: #fb8576;
  --red-400: #f46c5b;
  --red-500: #e55644;
  --red-600: #ab3f32;
  --red-700: #7a2e24;
  --red-800: #61231b;
  --red-900: #441812;
  --yellow-000: #fdf1dd;
  --yellow-100: #ffe3b5;
  --yellow-200: #ffcf80;
  --yellow-300: #f6bc5b;
  --yellow-400: #f6b03b;
  --yellow-500: #f5a623;
  --yellow-600: #d79220;
  --yellow-700: #b67d1e;
  --yellow-800: #976819;
  --yellow-900: #775214;
  --purple-000: #f4e5ff;
  --purple-100: #ecd1ff;
  --purple-200: #dfbef6;
  --purple-300: #d1a2f1;
  --purple-400: #c68aef;
  --purple-500: #bd7beb;
  --purple-600: #9457bf;
  --purple-700: #773ca1;
  --purple-800: #5b2581;
  --purple-900: #451964;
  --black: #1d2127;
  --white: #fff;
  --gray: var(--gray-500);
  --blue: var(--blue-500);
  --green: var(--green-500);
  --red: var(--red-500);
  --yellow: var(--yellow-500);
  --purple: var(--purple-500);
  --black-fade-15: hsla(0, 0%, 0%, 0.15);
  --black-fade-30: hsla(0, 0%, 0%, 0.3);
  --black-fade-50: hsla(0, 0%, 0%, 0.5);
  --black-fade-70: hsla(0, 0%, 0%, 0.7);
  --black-fade-85: hsla(0, 0%, 0%, 0.85);
  --white-fade-15: hsla(0, 0%, 100%, 0.15);
  --white-fade-30: hsla(0, 0%, 100%, 0.3);
  --white-fade-50: hsla(0, 0%, 100%, 0.5);
  --white-fade-70: hsla(0, 0%, 100%, 0.7);
  --white-fade-85: hsla(0, 0%, 100%, 0.85);
}
