:root,
[data-theme="default"] {
  /* Breakpoint widths */
  --breakpoint-s: 544px;
  --breakpoint-m: 768px;
  --breakpoint-l: 1024px;
  --breakpoint-xl: 1170px;

  /* Responsive container widths */
  --container-m: var(--breakpoint-m);
  --container-l: var(--breakpoint-l);
  --container-xl: var(--breakpoint-xl);
}

@custom-media --breakpoint-s (min-width: 544px);
@custom-media --breakpoint-m (min-width: 768px);
@custom-media --breakpoint-l (min-width: 1024px);
@custom-media --breakpoint-xl (min-width: 1170px);
