:root,
[data-theme="default"] {
  --form-item-placeholder-color: var(--text-secondary);
  --form-item-chevron-icon-color: var(--text-secondary);
  --form-item-bg-color: white;
  --form-item-bg-color-disabled: var(--gray-100);
  --form-item-border-color: var(--border-color);
  --form-item-border-color-hover: var(--gray-400);
  --selectable-item-bg-color-hover: var(--gray-100);
  --selectable-item-bg-color-active: var(--blue-100);
  --input-caret-color: var(--gray-900);
  --layer-background-color: white;
  --layer-border-color: var(--border-color);
}
