:root,
[data-theme="default"] {
  --z-index-level-1: 20;
  --z-index-level-2: 30;
  --z-index-level-3: 40;
  --z-index-level-4: 50;
  --z-index-level-5: 60;
  --z-index-level-6: 70;
  --z-index-modal: var(--z-index-level-4);
  --z-index-dropdown: var(--z-index-level-5);
  --z-index-tooltip: var(--z-index-level-6);
}
