.spinner {
  animation: spin-around calc(var(--duration-500) * 5) infinite linear;
  border-bottom-color: var(--text-secondary);
  border-left-color: var(--text-secondary);
  border-radius: 50%;
  border-right-color: transparent;
  border-style: solid;
  border-top-color: transparent;
  border-width: 3px;
  display: block;
  height: 32px;
  width: 32px;
}

.spinner--primary {
  border-bottom-color: var(--primary);
  border-left-color: var(--primary);
}

.spinner--inverted {
  border-bottom-color: hsla(0, 0%, 100%, 0.7);
  border-left-color: hsla(0, 0%, 100%, 0.7);
}

.spinner--size-1 {
  border-width: 2px;
  height: 16px;
  width: 16px;
}

.spinner--size-2 {
  border-width: 2px;
  height: 24px;
  width: 24px;
}

.spinner--size-3 {
  height: 32px;
  width: 32px;
}

.spinner--size-4 {
  height: 40px;
  width: 40px;
}
