.select {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  position: relative;
  width: 100%;
}
.select__label {
  display: block;
  margin-bottom: 4px;
}

.select__container {
  align-items: center;
  background-color: var(--form-item-bg-color);
  border: 1px solid var(--form-item-border-color);
  border-radius: 4px;
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 0 16px;
  user-select: none;
}

.select__container:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(38, 132, 255, 0.3);
  outline: none;
}

.select:hover {
  border-color: var(--form-item-border-color-hover);
  cursor: pointer;
}

.select__input {
  border: none;
  padding: 0;
}

.select__filter-wrapper {
  margin-bottom: 8px;
  padding: 0 8px;
}

.select__filter {
  border: 1px solid var(--border-gray);
  border-radius: 3px;
  padding: 8px;
  width: 100%;
}
.select__filter:focus {
  border: 1px solid var(--primary);
  outline: none;
}

.select__placeholder {
  color: var(--gray-500);
}

.select__chevron,
.select__clear {
  color: var(--gray-500);
  flex-shrink: 0;
  margin-left: 4px;
}

.select__chevron {
  transition: transform var(--duration-100) ease-in-out;
}

.select__display {
  overflow: hidden;
  text-align: left;
}

.select__selected-option {
  margin-right: 4px;
}

.select__dropdown {
  background-color: white;
  border: 1px solid var(--layer-border-color);
  border-radius: 0 0 4px 4px;
  left: 0;
  margin-top: -1px;
  max-height: 180px;
  opacity: 0;
  outline: none;
  overflow-y: auto;
  padding: 8px 0;
  position: absolute;
  right: 0;
  top: 100%;
  visibility: hidden;
  z-index: var(--z-index-level-1);
}

.select--disabled .select__display {
  color: var(--text-secondary);
}
.select--disabled .select__container {
  background-color: var(--form-item-bg-color-disabled);
  border: none;
  cursor: not-allowed;
}

.select--disabled .select__placeholder {
  color: var(--gray-400);
}

.select--disabled .select__chevron {
  color: var(--gray-400);
}

.select--open .select__dropdown {
  border-color: var(--blue-500);
  opacity: 1;
  visibility: visible;
}

.select--open .select__container {
  border-color: var(--blue-500);
  border-radius: 4px 4px 0 0;
}

.select--open .select__chevron {
  transform: rotate(180deg);
}
