.alert {
  border-radius: var(--border-radius);
  color: var(--blue-900);
  display: flex;
  padding: var(--spacer-3);
  position: relative;
}

.alert__title {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacer-1);
}

.alert__text {
  margin: 0;
  padding: 0;
}

.alert__icon {
  flex: 0 0 auto;
  width: 40px;
}

.alert__dismiss-button {
  flex-shrink: 0;
  position: absolute;
  right: 8px;
  top: 8px;
}

.alert--info {
  background-color: var(--blue-000);
  & .alert__icon {
    color: var(--blue-500);
  }
}

.alert--success {
  background-color: var(--green-000);
  & .alert__icon {
    color: var(--green-600);
  }
}

.alert--warn {
  background-color: var(--yellow-000);
  & .alert__icon {
    color: var(--yellow-500);
  }
}

.alert--error {
  background-color: var(--red-000);
  & .alert__icon {
    color: var(--red-500);
  }
}

.alert--wide {
  border-radius: 0;
}
