[data-theme="dark"] {
  --form-item-placeholder-color: hsla(218, 10%, 57%, 1);
  --form-item-chevron-icon-color: hsl(0, 0%, 57%);
  --form-item-bg-color: hsla(218, 10%, 25%, 1);
  --form-item-bg-color-disabled: hsla(218, 10%, 30%, 1);
  --form-item-border-color: hsla(218, 7%, 17%, 1);
  --form-item-border-color-disabled: hsla(218, 6%, 21%, 1);
  --form-item-border-color-hover: #040405;
  --selectable-item-bg-color-hover: var(--black-fade-15);
  --selectable-item-bg-color-active: var(--blue-500);
  --input-caret-color: white;
  --layer-background-color: hsla(218, 10%, 27%, 1);
  --layer-border-color: rgba(0, 0, 0, 0.3);
  --divider-bg-color: black;
  --text-secondary: hsla(218, 10%, 70%, 1);
  --border-gray: var(--gray-200);
  --border-gray-dark: var(--gray-300);
  --body-text-color: white;
  --body-bg-color: hsla(218, 12%, 23%, 1);
}
