:root,
[data-theme="default"] {
  --modal-size-1: 320px;
  --modal-size-2: 555px;
  --modal-size-3: 720px;
  --modal-bg-color: var(--layer-background-color);
  --modal-overlay-bg-color: rgba(10, 10, 10, 0.86);
}

.modal__mask {
  background-color: var(--modal-overlay-bg-color);
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 9998;
}

.modal__wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal__container {
  background-color: var(--modal-bg-color);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  margin: 0 auto;
  max-width: 544px;
  transition: transform 0.3s ease;

  &:focus {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }
}

.modal__header {
  align-items: center;
  display: flex;
  font-size: 22px;
  font-weight: var(--font-weight-bold);
  padding: 16px;
}

.modal__title {
  flex: 1;
}

.modal__body {
  padding: 0 16px;
}

.modal__footer {
  padding: 16px;
}

.modal--open {
  overflow: hidden;
}

.modal--size-1 > .modal__container {
  max-width: 320px;
}

.modal--size-2 > .modal__container {
  max-width: 544px;
}

.modal--size-3 > .modal__container {
  max-width: 720px;
}
