.border {
  border: 1px solid var(--border-color);
}
.border-top {
  border-top: 1px solid var(--border-color);
}
.border-right {
  border-right: 1px solid var(--border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
.border-left {
  border-left: 1px solid var(--border-color);
}
.border-y {
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.rounded-0 {
  border-radius: 0;
}
.rounded-1 {
  border-radius: calc(var(--border-radius) / 2);
}
.rounded-2 {
  border-radius: var(--border-radius);
}
.circle {
  border-radius: 50%;
}
