.box-shadow-1 {
  box-shadow: var(--box-shadow-1);
}

.box-shadow-2 {
  box-shadow: var(--box-shadow-2);
}

.box-shadow-3 {
  box-shadow: var(--box-shadow-3);
}

.box-shadow-4 {
  box-shadow: var(--box-shadow-4);
}

.box-shadow-none {
  box-shadow: none;
}
