.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: var(--spacer-1);
  margin-right: var(--spacer-1);
}
.mx-2 {
  margin-left: var(--spacer-2);
  margin-right: var(--spacer-2);
}
.mx-3 {
  margin-left: var(--spacer-3);
  margin-right: var(--spacer-3);
}
.mx-4 {
  margin-left: var(--spacer-4);
  margin-right: var(--spacer-4);
}
.mx-5 {
  margin-left: var(--spacer-5);
  margin-right: var(--spacer-5);
}
.mx-6 {
  margin-left: var(--spacer-6);
  margin-right: var(--spacer-6);
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}
.my-1 {
  margin-bottom: var(--spacer-1);
  margin-top: var(--spacer-1);
}
.my-2 {
  margin-bottom: var(--spacer-2);
  margin-top: var(--spacer-2);
}
.my-3 {
  margin-bottom: var(--spacer-3);
  margin-top: var(--spacer-3);
}
.my-4 {
  margin-bottom: var(--spacer-4);
  margin-top: var(--spacer-4);
}
.my-5 {
  margin-bottom: var(--spacer-5);
  margin-top: var(--spacer-5);
}
.my-6 {
  margin-bottom: var(--spacer-6);
  margin-top: var(--spacer-6);
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: var(--spacer-1);
}
.m-2 {
  margin: var(--spacer-2);
}
.m-3 {
  margin: var(--spacer-3);
}
.m-4 {
  margin: var(--spacer-4);
}
.m-5 {
  margin: var(--spacer-5);
}
.m-6 {
  margin: var(--spacer-6);
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: var(--spacer-1);
}
.mt-2 {
  margin-top: var(--spacer-2);
}
.mt-3 {
  margin-top: var(--spacer-3);
}
.mt-4 {
  margin-top: var(--spacer-4);
}
.mt-5 {
  margin-top: var(--spacer-5);
}
.mt-6 {
  margin-top: var(--spacer-6);
}

.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: var(--spacer-1);
}
.mr-2 {
  margin-right: var(--spacer-2);
}
.mr-3 {
  margin-right: var(--spacer-3);
}
.mr-4 {
  margin-right: var(--spacer-4);
}
.mr-5 {
  margin-right: var(--spacer-5);
}
.mr-6 {
  margin-right: var(--spacer-6);
}
.mr-auto {
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: var(--spacer-1);
}
.mb-2 {
  margin-bottom: var(--spacer-2);
}
.mb-3 {
  margin-bottom: var(--spacer-3);
}
.mb-4 {
  margin-bottom: var(--spacer-4);
}
.mb-5 {
  margin-bottom: var(--spacer-5);
}
.mb-6 {
  margin-bottom: var(--spacer-6);
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: var(--spacer-1);
}
.ml-2 {
  margin-left: var(--spacer-2);
}
.ml-3 {
  margin-left: var(--spacer-3);
}
.ml-4 {
  margin-left: var(--spacer-4);
}
.ml-5 {
  margin-left: var(--spacer-5);
}
.ml-6 {
  margin-left: var(--spacer-6);
}
.ml-auto {
  margin-left: auto;
}

/* Remove margin for from first-child hack */

.mt-fc > div:first-child,
.mt-fc > li:first-child {
  margin-top: 0;
}

.ml-fc > div:first-child,
.ml-fc > li:first-child {
  margin-left: 0;
}

@media (--breakpoint-s) {
  .s-mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .s-mx-1 {
    margin-left: var(--spacer-1);
    margin-right: var(--spacer-1);
  }
  .s-mx-2 {
    margin-left: var(--spacer-2);
    margin-right: var(--spacer-2);
  }
  .s-mx-3 {
    margin-left: var(--spacer-3);
    margin-right: var(--spacer-3);
  }
  .s-mx-4 {
    margin-left: var(--spacer-4);
    margin-right: var(--spacer-4);
  }
  .s-mx-5 {
    margin-left: var(--spacer-5);
    margin-right: var(--spacer-5);
  }
  .s-mx-6 {
    margin-left: var(--spacer-6);
    margin-right: var(--spacer-6);
  }
  .s-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .s-my-0 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .s-my-1 {
    margin-bottom: var(--spacer-1);
    margin-top: var(--spacer-1);
  }
  .s-my-2 {
    margin-bottom: var(--spacer-2);
    margin-top: var(--spacer-2);
  }
  .s-my-3 {
    margin-bottom: var(--spacer-3);
    margin-top: var(--spacer-3);
  }
  .s-my-4 {
    margin-bottom: var(--spacer-4);
    margin-top: var(--spacer-4);
  }
  .s-my-5 {
    margin-bottom: var(--spacer-5);
    margin-top: var(--spacer-5);
  }
  .s-my-6 {
    margin-bottom: var(--spacer-6);
    margin-top: var(--spacer-6);
  }

  .s-m-0 {
    margin: 0;
  }
  .s-m-1 {
    margin: var(--spacer-1);
  }
  .s-m-2 {
    margin: var(--spacer-2);
  }
  .s-m-3 {
    margin: var(--spacer-3);
  }
  .s-m-4 {
    margin: var(--spacer-4);
  }
  .s-m-5 {
    margin: var(--spacer-5);
  }
  .s-m-6 {
    margin: var(--spacer-6);
  }

  .s-mt-0 {
    margin-top: 0;
  }
  .s-mt-1 {
    margin-top: var(--spacer-1);
  }
  .s-mt-2 {
    margin-top: var(--spacer-2);
  }
  .s-mt-3 {
    margin-top: var(--spacer-3);
  }
  .s-mt-4 {
    margin-top: var(--spacer-4);
  }
  .s-mt-5 {
    margin-top: var(--spacer-5);
  }
  .s-mt-6 {
    margin-top: var(--spacer-6);
  }

  .s-mr-0 {
    margin-right: 0;
  }
  .s-mr-1 {
    margin-right: var(--spacer-1);
  }
  .s-mr-2 {
    margin-right: var(--spacer-2);
  }
  .s-mr-3 {
    margin-right: var(--spacer-3);
  }
  .s-mr-4 {
    margin-right: var(--spacer-4);
  }
  .s-mr-5 {
    margin-right: var(--spacer-5);
  }
  .s-mr-6 {
    margin-right: var(--spacer-6);
  }
  .s-mr-auto {
    margin-right: auto;
  }

  .s-mb-0 {
    margin-bottom: 0;
  }
  .s-mb-1 {
    margin-bottom: var(--spacer-1);
  }
  .s-mb-2 {
    margin-bottom: var(--spacer-2);
  }
  .s-mb-3 {
    margin-bottom: var(--spacer-3);
  }
  .s-mb-4 {
    margin-bottom: var(--spacer-4);
  }
  .s-mb-5 {
    margin-bottom: var(--spacer-5);
  }
  .s-mb-6 {
    margin-bottom: var(--spacer-6);
  }

  .s-ml-0 {
    margin-left: 0;
  }
  .s-ml-1 {
    margin-left: var(--spacer-1);
  }
  .s-ml-2 {
    margin-left: var(--spacer-2);
  }
  .s-ml-3 {
    margin-left: var(--spacer-3);
  }
  .s-ml-4 {
    margin-left: var(--spacer-4);
  }
  .s-ml-5 {
    margin-left: var(--spacer-5);
  }
  .s-ml-6 {
    margin-left: var(--spacer-6);
  }
  .s-ml-auto {
    margin-left: auto;
  }
}

@media (--breakpoint-m) {
  .m-mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .m-mx-1 {
    margin-left: var(--spacer-1);
    margin-right: var(--spacer-1);
  }
  .m-mx-2 {
    margin-left: var(--spacer-2);
    margin-right: var(--spacer-2);
  }
  .m-mx-3 {
    margin-left: var(--spacer-3);
    margin-right: var(--spacer-3);
  }
  .m-mx-4 {
    margin-left: var(--spacer-4);
    margin-right: var(--spacer-4);
  }
  .m-mx-5 {
    margin-left: var(--spacer-5);
    margin-right: var(--spacer-5);
  }
  .m-mx-6 {
    margin-left: var(--spacer-6);
    margin-right: var(--spacer-6);
  }
  .m-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .m-my-0 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .m-my-1 {
    margin-bottom: var(--spacer-1);
    margin-top: var(--spacer-1);
  }
  .m-my-2 {
    margin-bottom: var(--spacer-2);
    margin-top: var(--spacer-2);
  }
  .m-my-3 {
    margin-bottom: var(--spacer-3);
    margin-top: var(--spacer-3);
  }
  .m-my-4 {
    margin-bottom: var(--spacer-4);
    margin-top: var(--spacer-4);
  }
  .m-my-5 {
    margin-bottom: var(--spacer-5);
    margin-top: var(--spacer-5);
  }
  .m-my-6 {
    margin-bottom: var(--spacer-6);
    margin-top: var(--spacer-6);
  }

  .m-m-0 {
    margin: 0;
  }
  .m-m-1 {
    margin: var(--spacer-1);
  }
  .m-m-2 {
    margin: var(--spacer-2);
  }
  .m-m-3 {
    margin: var(--spacer-3);
  }
  .m-m-4 {
    margin: var(--spacer-4);
  }
  .m-m-5 {
    margin: var(--spacer-5);
  }
  .m-m-6 {
    margin: var(--spacer-6);
  }

  .m-mt-0 {
    margin-top: 0;
  }
  .m-mt-1 {
    margin-top: var(--spacer-1);
  }
  .m-mt-2 {
    margin-top: var(--spacer-2);
  }
  .m-mt-3 {
    margin-top: var(--spacer-3);
  }
  .m-mt-4 {
    margin-top: var(--spacer-4);
  }
  .m-mt-5 {
    margin-top: var(--spacer-5);
  }
  .m-mt-6 {
    margin-top: var(--spacer-6);
  }

  .m-mr-0 {
    margin-right: 0;
  }
  .m-mr-1 {
    margin-right: var(--spacer-1);
  }
  .m-mr-2 {
    margin-right: var(--spacer-2);
  }
  .m-mr-3 {
    margin-right: var(--spacer-3);
  }
  .m-mr-4 {
    margin-right: var(--spacer-4);
  }
  .m-mr-5 {
    margin-right: var(--spacer-5);
  }
  .m-mr-6 {
    margin-right: var(--spacer-6);
  }
  .m-mr-auto {
    margin-right: auto;
  }

  .m-mb-0 {
    margin-bottom: 0;
  }
  .m-mb-1 {
    margin-bottom: var(--spacer-1);
  }
  .m-mb-2 {
    margin-bottom: var(--spacer-2);
  }
  .m-mb-3 {
    margin-bottom: var(--spacer-3);
  }
  .m-mb-4 {
    margin-bottom: var(--spacer-4);
  }
  .m-mb-5 {
    margin-bottom: var(--spacer-5);
  }
  .m-mb-6 {
    margin-bottom: var(--spacer-6);
  }

  .m-ml-0 {
    margin-left: 0;
  }
  .m-ml-1 {
    margin-left: var(--spacer-1);
  }
  .m-ml-2 {
    margin-left: var(--spacer-2);
  }
  .m-ml-3 {
    margin-left: var(--spacer-3);
  }
  .m-ml-4 {
    margin-left: var(--spacer-4);
  }
  .m-ml-5 {
    margin-left: var(--spacer-5);
  }
  .m-ml-6 {
    margin-left: var(--spacer-6);
  }
  .m-ml-auto {
    margin-left: auto;
  }
}

@media (--breakpoint-l) {
  .l-mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .l-mx-1 {
    margin-left: var(--spacer-1);
    margin-right: var(--spacer-1);
  }
  .l-mx-2 {
    margin-left: var(--spacer-2);
    margin-right: var(--spacer-2);
  }
  .l-mx-3 {
    margin-left: var(--spacer-3);
    margin-right: var(--spacer-3);
  }
  .l-mx-4 {
    margin-left: var(--spacer-4);
    margin-right: var(--spacer-4);
  }
  .l-mx-5 {
    margin-left: var(--spacer-5);
    margin-right: var(--spacer-5);
  }
  .l-mx-6 {
    margin-left: var(--spacer-6);
    margin-right: var(--spacer-6);
  }
  .l-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .l-my-0 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .l-my-1 {
    margin-bottom: var(--spacer-1);
    margin-top: var(--spacer-1);
  }
  .l-my-2 {
    margin-bottom: var(--spacer-2);
    margin-top: var(--spacer-2);
  }
  .l-my-3 {
    margin-bottom: var(--spacer-3);
    margin-top: var(--spacer-3);
  }
  .l-my-4 {
    margin-bottom: var(--spacer-4);
    margin-top: var(--spacer-4);
  }
  .l-my-5 {
    margin-bottom: var(--spacer-5);
    margin-top: var(--spacer-5);
  }
  .l-my-6 {
    margin-bottom: var(--spacer-6);
    margin-top: var(--spacer-6);
  }

  .l-m-0 {
    margin: 0;
  }
  .l-m-1 {
    margin: var(--spacer-1);
  }
  .l-m-2 {
    margin: var(--spacer-2);
  }
  .l-m-3 {
    margin: var(--spacer-3);
  }
  .l-m-4 {
    margin: var(--spacer-4);
  }
  .l-m-5 {
    margin: var(--spacer-5);
  }
  .l-m-6 {
    margin: var(--spacer-6);
  }

  .l-mt-0 {
    margin-top: 0;
  }
  .l-mt-1 {
    margin-top: var(--spacer-1);
  }
  .l-mt-2 {
    margin-top: var(--spacer-2);
  }
  .l-mt-3 {
    margin-top: var(--spacer-3);
  }
  .l-mt-4 {
    margin-top: var(--spacer-4);
  }
  .l-mt-5 {
    margin-top: var(--spacer-5);
  }
  .l-mt-6 {
    margin-top: var(--spacer-6);
  }

  .l-mr-0 {
    margin-right: 0;
  }
  .l-mr-1 {
    margin-right: var(--spacer-1);
  }
  .l-mr-2 {
    margin-right: var(--spacer-2);
  }
  .l-mr-3 {
    margin-right: var(--spacer-3);
  }
  .l-mr-4 {
    margin-right: var(--spacer-4);
  }
  .l-mr-5 {
    margin-right: var(--spacer-5);
  }
  .l-mr-6 {
    margin-right: var(--spacer-6);
  }
  .l-mr-auto {
    margin-right: auto;
  }

  .l-mb-0 {
    margin-bottom: 0;
  }
  .l-mb-1 {
    margin-bottom: var(--spacer-1);
  }
  .l-mb-2 {
    margin-bottom: var(--spacer-2);
  }
  .l-mb-3 {
    margin-bottom: var(--spacer-3);
  }
  .l-mb-4 {
    margin-bottom: var(--spacer-4);
  }
  .l-mb-5 {
    margin-bottom: var(--spacer-5);
  }
  .l-mb-6 {
    margin-bottom: var(--spacer-6);
  }

  .l-ml-0 {
    margin-left: 0;
  }
  .l-ml-1 {
    margin-left: var(--spacer-1);
  }
  .l-ml-2 {
    margin-left: var(--spacer-2);
  }
  .l-ml-3 {
    margin-left: var(--spacer-3);
  }
  .l-ml-4 {
    margin-left: var(--spacer-4);
  }
  .l-ml-5 {
    margin-left: var(--spacer-5);
  }
  .l-ml-6 {
    margin-left: var(--spacer-6);
  }
  .l-ml-auto {
    margin-left: auto;
  }
}

@media (--breakpoint-xl) {
  .xl-mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .xl-mx-1 {
    margin-left: var(--spacer-1);
    margin-right: var(--spacer-1);
  }
  .xl-mx-2 {
    margin-left: var(--spacer-2);
    margin-right: var(--spacer-2);
  }
  .xl-mx-3 {
    margin-left: var(--spacer-3);
    margin-right: var(--spacer-3);
  }
  .xl-mx-4 {
    margin-left: var(--spacer-4);
    margin-right: var(--spacer-4);
  }
  .xl-mx-5 {
    margin-left: var(--spacer-5);
    margin-right: var(--spacer-5);
  }
  .xl-mx-6 {
    margin-left: var(--spacer-6);
    margin-right: var(--spacer-6);
  }
  .xl-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .xl-my-0 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .xl-my-1 {
    margin-bottom: var(--spacer-1);
    margin-top: var(--spacer-1);
  }
  .xl-my-2 {
    margin-bottom: var(--spacer-2);
    margin-top: var(--spacer-2);
  }
  .xl-my-3 {
    margin-bottom: var(--spacer-3);
    margin-top: var(--spacer-3);
  }
  .xl-my-4 {
    margin-bottom: var(--spacer-4);
    margin-top: var(--spacer-4);
  }
  .xl-my-5 {
    margin-bottom: var(--spacer-5);
    margin-top: var(--spacer-5);
  }
  .xl-my-6 {
    margin-bottom: var(--spacer-6);
    margin-top: var(--spacer-6);
  }

  .xl-m-0 {
    margin: 0;
  }
  .xl-m-1 {
    margin: var(--spacer-1);
  }
  .xl-m-2 {
    margin: var(--spacer-2);
  }
  .xl-m-3 {
    margin: var(--spacer-3);
  }
  .xl-m-4 {
    margin: var(--spacer-4);
  }
  .xl-m-5 {
    margin: var(--spacer-5);
  }
  .xl-m-6 {
    margin: var(--spacer-6);
  }

  .xl-mt-0 {
    margin-top: 0;
  }
  .xl-mt-1 {
    margin-top: var(--spacer-1);
  }
  .xl-mt-2 {
    margin-top: var(--spacer-2);
  }
  .xl-mt-3 {
    margin-top: var(--spacer-3);
  }
  .xl-mt-4 {
    margin-top: var(--spacer-4);
  }
  .xl-mt-5 {
    margin-top: var(--spacer-5);
  }
  .xl-mt-6 {
    margin-top: var(--spacer-6);
  }

  .xl-mr-0 {
    margin-right: 0;
  }
  .xl-mr-1 {
    margin-right: var(--spacer-1);
  }
  .xl-mr-2 {
    margin-right: var(--spacer-2);
  }
  .xl-mr-3 {
    margin-right: var(--spacer-3);
  }
  .xl-mr-4 {
    margin-right: var(--spacer-4);
  }
  .xl-mr-5 {
    margin-right: var(--spacer-5);
  }
  .xl-mr-6 {
    margin-right: var(--spacer-6);
  }
  .xl-mr-auto {
    margin-right: auto;
  }

  .xl-mb-0 {
    margin-bottom: 0;
  }
  .xl-mb-1 {
    margin-bottom: var(--spacer-1);
  }
  .xl-mb-2 {
    margin-bottom: var(--spacer-2);
  }
  .xl-mb-3 {
    margin-bottom: var(--spacer-3);
  }
  .xl-mb-4 {
    margin-bottom: var(--spacer-4);
  }
  .xl-mb-5 {
    margin-bottom: var(--spacer-5);
  }
  .xl-mb-6 {
    margin-bottom: var(--spacer-6);
  }

  .xl-ml-0 {
    margin-left: 0;
  }
  .xl-ml-1 {
    margin-left: var(--spacer-1);
  }
  .xl-ml-2 {
    margin-left: var(--spacer-2);
  }
  .xl-ml-3 {
    margin-left: var(--spacer-3);
  }
  .xl-ml-4 {
    margin-left: var(--spacer-4);
  }
  .xl-ml-5 {
    margin-left: var(--spacer-5);
  }
  .xl-ml-6 {
    margin-left: var(--spacer-6);
  }
  .xl-ml-auto {
    margin-left: auto;
  }
}
