:root,
[data-theme="default"] {
  --toggle-circle-bg-color: var(--gray-200);
  --toggle-circle-bg-color-checked: white;
  --toggle-circle-bg-color-disabled: var(--gray-200);
}

.toggle {
  align-items: center;
  display: inline-flex;
}

.toggle__input {
  appearance: none;
  position: absolute;
}

.toggle__text {
  margin-left: 8px;
}

.toggle__container {
  background-color: var(--form-item-bg-color);
  border: 1px solid var(--form-item-border-color);
  border-radius: 40px;
  height: 20px;
  position: relative;
  width: 40px;

  &::after {
    background-color: var(--toggle-circle-bg-color);
    border-radius: 50%;
    content: "";
    height: 16px;
    left: 2px;
    position: absolute;
    top: 1px;
    transition-duration: var(--duration-300);
    transition-property: box-shadow, left;
    transition-timing-function: ease;
    width: 16px;
  }
}

/* Hovered */
.toggle__input:hover + .toggle__container {
  border-color: var(--form-item-border-color-hover);
}

/* Focused */
.toggle__input:focus + .toggle__container {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px var(--form-item-box-shadow-focus);
}

/* Checked */
.toggle__input:checked + .toggle__container {
  background-color: var(--form-item-bg-color-checked);
  border-color: var(--form-item-border-color-checked);
}

.toggle__input:checked + .toggle__container::after {
  background-color: var(--toggle-circle-bg-color-checked);
  left: calc(100% - 16px - 2px);
}

/* Disabled */
.toggle__input[disabled] + .toggle__container {
  background-color: var(--form-item-bg-color-disabled);
  border-color: var(--form-item-border-color-disabled);
}

.toggle__input[disabled] + .toggle__container::after {
  background-color: var(--toggle-circle-bg-color-disabled);
}

.toggle__input[disabled] ~ .toggle__text {
  color: var(--text-secondary);
}

/* Vertical */
.toggle--vertical {
  align-items: flex-start;
  flex-direction: column-reverse;

  & .toggle__text {
    margin-bottom: 4px;
    margin-left: 0;
  }
}
