.link {
  cursor: pointer;
  font-family: var(--body-font);
}
.link--primary {
  color: var(--primary);

  &:hover {
    color: var(--primary-dark);
  }
}

.link--accent {
  color: var(--accent);

  &:hover {
    color: var(--accent-dark);
  }
}

.link--secondary {
  color: var(--text-secondary);

  &:hover {
    color: var(--gray-600);
  }
}

.link--black {
  color: var(--body-text-color);

  &:hover {
    color: var(--gray-600);
  }
}
